table{
    border-collapse: separate;
    border:1px solid black;
}

th, td { 
    padding: 10px; 
    text-align: center; 
    border:1px solid black;
} 

.easy { 
    border: 3px solid green; 
    background-color: green;
} 

.medium { 
    border: 3px solid orange; 
    background-color: orange;
} 

.hard { 
    border: 3px solid red; 
    background-color: red;
} 

th{
    background-color: darkblue;
    color:white;
}

tr:hover { 
    background-color: lightblue; 
} 