html, body{ 

    height: 100%; 

    margin: auto; 

} 

.page_container{ 

    background-color: rgb(226, 228, 241); 

    width:1700px;   

    margin: auto; 

     

} 

.temp{
    color:white;
}

.box{ 
    width:200px; 
    height: 200px; 
    border:2px solid red; 
} 

  

#header{ 
    background-color: #49d260; 
    width: 100%;
    
} 

#nav{ 
    background-color: #c1d42f; 
    width: 100%;
    
} 

#text{ 
    background-color: #5039d3; 
    margin-left: 431px;
    margin-top:0px;
    width:300px; 
    height: 400px; 
    
} 

#image{ 
    background-color: #e03f3f;
    
    margin-left: 1000px;
    margin-top:-300px;
} 



#footer{ 
    background-color: #e9a340; 
    width: 100%;
    
    margin-top:300px;
} 